@model ASP_201MVC.Models.Forum.ForumThemeViewModel

<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card my-5">
                <div class="card-header p-1">
                    <div class="media d-flex align-items-center">
                        <img src="@Model.AuthorAvatarUrl" class="d-block ui-w-40 rounded-circle mx-2" alt="">
                        <div class="media-body mx-2">
                            <a asp-controller="User" asp-action="Profile" asp-route-id="@Model.AuthorName" data-abc="true">@Model.AuthorName</a>
                            <div class="text-muted small">@Model.CreatedDtString</div>
                        </div>
                        <div class="ms-auto text-muted small mx-2">
                            <div>Member since <strong>@Model.AuthorCreatedDt</strong></div>
                            <div><strong>134</strong> posts</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5>
                        @Model.Title
                    </h5>
                    <p>
                        @Model.Description
                   </p>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-3 py-1">
                    <div>  <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle"></span>  <span class="text-muted d-inline-flex align-items-center align-middle ml-4"> <i class="fa fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle"></span> </span> </div>
                    <div> <a asp-action="Themes" asp-route-id="@Model.UrlIdString" class="btn btn-outline-secondary p-2">Reply</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>